.clients {
	padding-top: 25px;
	padding-bottom: 53px;
}
.clients__title {
	margin-top: 0;
	margin-bottom: 10px;
}

.clients .slider-dots {
	margin-top: 20px;
}

.clients .slick-arrow {
		cursor: pointer;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 8px;
  	height: 18px;
  	background-color: transparent;
  	border: none;
  	font-size: 0;
  	background-repeat: none;
  	background-position: center; 
	}

	.clients .slick-prev {
		background-image: url('../img/icons/arrow-left.png');
		left: -72px;
	}

	.clients .slick-next {
		background-image: url('../img/icons/arrow-right.png');
		right: -72px;
	}

	@media (min-width: 667px) {
		.clients {
			padding-top: 40px;
		}
	}

@media (min-width: 1200px) {
	.clients {
		padding-top: 60px;
		padding-bottom: 40px;
	}	

	.clients__slider {
		margin: 0 -10px;
	}

	.clients__slider-wrapper {
		width: 980px;
		margin: 0 auto;
	}

	.clients__item {
		padding: 0 10px;
	}
}

@media (min-width: 1350px) {
	.clients__slider-wrapper {
		width: 1180px;
		margin: 0;
	} 
}