.contacts__text {
	padding: 40px 0 25px; 
	background-image: linear-gradient( 80deg, rgb(6,146,205) 0%, rgb(83,204,255) 100%);
	color: #fff;
}

.contacts__title {
	color: #fff;
	margin-top: 0;
	margin-bottom: 25px;
}

.contacts__phone,
.contacts__mail {
	color: #fff;
	display: block;
}

.contacts__phone {
	text-decoration: none;
}

.contacts__map {
	max-width: 375px;
	height: 450px;
	background-color: #f5f5f5;
	background-image: url('../img/map.png');
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	margin: 0 auto;
} 

.contacts__map-marker {
	position: absolute;
	top: 130px;
	left: 100px;
	width: 75px;
	height: 102px;
	background-image: url('../img/icons/map-marker.png');
	background-repeat: no-repeat;
	background-position: center;
}

@media (min-width: 667px) {
 .contacts__bottom {
 	display: flex;
 	flex-wrap: wrap;
 }

 .contacts__bottom p {
 	width: 50%;
 }

 .contacts__map {
 	max-width: 667px;
 }

 .contacts__map-marker {
		top: 140px;
		left: 250px;
	}	
}

@media (min-width: 1200px) {
	.contacts {
		display: flex;
		width: 1200px;
		margin: 0 auto;
		padding-top: 0px;
		padding-bottom: 50px;
		align-items: center;
	}

	.contacts__text {
		width: 580px;
		padding-top: 115px;
		padding-left: 135px;
		padding-bottom: 120px;
		background-image: url("../img/bg-contacts.png");
		background-repeat: no-repeat;
		background-position: top 10px;
		background-color: transparent;
		z-index: 1;
	}

	.contacts__text .container {
		width: 220px;
		margin: 0;
	}

	.contacts__bottom p {
		width: 100%;
	}

	.contacts__map {
		width: 1000px;
		max-width: 1000px;
		border-radius: 10px;
		margin-left: -300px;
		z-index: 0;
	}

	.contacts__map-marker {
		top: 140px;
		left: 390px;
	}
}

