.header {
	position: relative;
}

.header__content {
 	display: flex;
	flex-wrap: wrap;
	padding: 20px 0;
	min-height: 168px;
}

.header__logo {
	width: 150px;
	margin-right: auto;
}

.header__nav-toggle {
	display: block;
	width: 32px;
	height: 21px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	margin-right: 10px;
	margin-top: 15px;
	padding: 0;
}

.header__content--open .header__nav-toggle {
	position: absolute;
	z-index: 20;
	right: 32px;
	top: 39px;
	margin: 0;
	width: 30px;
	height: 30px;
}

.header__nav-toggle span {
	display: block;
	width: 32px;
	height: 2px;
	margin-bottom: 8px;
	background-color: #ff6633;
}

.header__content--open .header__nav-toggle span {
	background-color: #333;
	display: none;
	position: absolute;
	top: 50%;
	left: 0;

	&:first-child {
		display: block;
		transform: rotate(45deg);
	}

	&:last-child {
		display: block;
		transform: rotate(-45deg);
	}
}

.header__nav {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 43px;
}

.header__content--open .header__nav {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 10;
	width: 100%;
	margin-top: 0;
	padding: 39px 20px 20px; 
}

.header__lang {
	width: 135px;
}

.header__content--open .header__lang {
	order: 2;
	width: 100%;
	text-align: center;
	margin-bottom: 23px;
}

.header__tel {
	width: 200px;
	font-size: 16px;
	padding: 0 10px;
	text-align: right;

	& strong {
		color: #ff6633;
	}

	& a {
		color: #333;
		text-decoration: none;
	}
}

.header__tel .header__callback {
	display: none;
	font-size: 16px;
	line-height: 18px;
	color: #ff6633;
	border-bottom: 1px dotted #ff6633;
	text-align: right;	
}

.header__content--open .header__tel {
	order: 0;
	width: 100%;
	font-size: 20px;
	margin-bottom: 37px;
	padding: 0;
	text-align: left;
}

.header__adress,
.header__buttons,
.header__search  {
	display: none;
}

.header__content--open .header__adress,
.header__content--open	.header__buttons {
	display: block;
}

.header__adress {
	margin-bottom: 22px;
	font-size: 15px;
	color: #999999;
	text-align: center;
}

.header__content--open .header__adress {
	order: 1;
	width: 100%
}

.header__content--open	.header__buttons {
	order: 4;
}

.header__buttons {
	width: 100%;
}

.header__search-icon {
	display: inline-block;
	width: 20px;
	height: 23px;
	background-image: url("../img/icons/search-icon.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

@media (min-width: 667px) {
	.header__content {
		min-height: auto;
	}
	
	.header__logo {
		order: 0;
		margin-right: 0;
	}

	.header__nav-toggle {
		order: 2;
	}

	.header__nav {
		order: 1;
		margin-top: 15px;
		width: 420px;
	}

	.header__tel {
		width: 240px;
		order: 0;
		font-size: 19px;
		padding-left: 28px;
		text-align: left;
	}

	.header__nav .header__lang {
		order: 1;
		font-size: 18px;
		width: 180px;
		padding-left: 20px;
	}

	.header__content--open .header__nav {
		display: block;
	}

	.header__content--open .header__lang {
		width: 50%;
		font-size: 16px;
		padding-left: 5px;
		text-align: left;
		margin-bottom: 40px;
		margin-left: auto;
	}

	.header__content--open .header__tel {
		padding-left: 5px;
		width: 50%;
		margin-bottom: 20px;
		margin-left: auto;
	}

	.header__content--open .header__adress {
		width: 50%;
		text-align: left;
		padding-left: 5px;
		margin-bottom: 30px;
		margin-left: auto;
	}

	.header__content--open .header__nav-toggle {
		top: 30px;
	}

	.header__content--open .header__buttons {
		width: 50%;
		margin-left: auto;
	}
}

@media (min-width: 1200px) {

	.header__content {
		padding: 36px 0 10px;
		position: relative;
	}

	.header__logo {
		position: absolute;
		top: 30px;
	}

	.header__nav-toggle {
		display: none;
	}

	.header__nav {
		width: 100%;
		align-items: center;
		margin-top: 0;
	}

	.header__content--open .header__nav {
		position: static;
		display: flex;
		width: 100%;
		align-items: center;
		margin-top: 0;
		padding: 0;
		background-color: transparent;
	}

	.header__adress,
	.header__buttons,
	.header__search {
		display: block;
	}

	.header__adress,
	.header__buttons,
	.header__nav .header__lang,
	.header__tel {
		margin-right: 20px;
	}
	
	.header__adress,
	.header__content--open .header__adress {
		width: 180px;
		order: 0;
		margin-left: 200px;
		margin-bottom: 0;
		font-size: 14px;
		text-align: left;
		padding-right: 20px;
	}

	.header__content--open .header__adress {
		padding-left: 0;
	}

	.header__buttons,
	.header__content--open .header__buttons {
		width: 380px;
		order: 1;
		display: flex;
		justify-content: space-between;
	}

	.header__nav .header__lang,
	.header__content--open .header__lang {
		width: 80px;
		order: 2;
		padding-left: 0;
	}
	.header__content--open .header__lang {
		margin-bottom: 0;
	}

	.header__tel,
	.header__content--open .header__tel {
		width: 180px;
		padding: 0;
		order: 3;
		font-size: 17px;
		color: #777777;
		text-align: right;

		& strong {
			color: #333333;
		}
	}

	.header__tel .header__callback {
		display: inline;
	}

	.header__content--open .header__tel {
		margin-bottom: 0;
	}

	.header__search,
	.header__content--open .header__search {
		width: 80px;
		order: 4;
		text-align: center;
	}

	.header--fixed {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		background-color: #fff;
		box-shadow: 0px 2px 8px 0px rgba(146, 146, 146, 0.2);
		z-index: 1000;
	}

	.header--fixed .header__content {
		padding: 28px 0;
		transform: translate3d(0, 0, 0);
	}

	.header--fixed .header__logo {
		width: 58px;
		overflow: hidden;

		img {
			max-width: 150px;
			width: 150px;
		}
	}

	.header--fixed .header__adress,
	.header--fixed .header__buttons,
	.header--fixed .header__lang {
		display: none;
	}

	.header--fixed .header__tel {
		font-size: 16px;
		text-align: right;
	}
}



